
    <h1> Hi: {{User.username}}</h1>
    <nav>
      <button><a href="/api/post/"> Create Post</a></button>
      <button><a href="/api/post/:id"> My Posts</a></button>
    </nav>
    <ul>{{#each post as |Post|}}
      <li> <a href="/post/{{post.id}}"></a>
        <p>Created by {{post.user.username}}</p>
      </li>
      {{/each}}
    </ul>
      
  </body>
</html>